@import "tailwindcss";

:root {
  --azul-pernambuco: rgb(0, 87, 168);
  --amarelo-sol: rgb(255, 199, 44);
  --verde-tropical: rgb(12, 136, 74);
  --vermelho-frevo: rgb(223, 70, 49);
  --branco-fundo: rgb(247, 244, 239);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--branco-fundo);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: var(--azul-pernambuco);
  color: var(--branco-fundo);
  @apply flex flex-row p-4 gap-6;
}

.titulo {
  @apply text-4xl mt-8 grow;
}

.formulario {
  @apply p-8 mt-8 bg-gray-200 rounded-xl grow;
}

.campoTexto {
  background-color: #9e9e9e3d;
  @apply p-2 mt-1 border border-gray-400 rounded-lg;
}

.botao-primario {
  background-color: var(--verde-tropical);
  @apply p-3 text-gray-100 font-semibold rounded-md cursor-pointer;
}

.evento-card {
  @apply p-3 bg-gray-300 w-lg rounded-xl;
}

.cidade-card {
  background-color: var(--amarelo-sol);
  @apply p-3 w-80 rounded-xl text-gray-800 text-center;
}

.tag-card {
  background-color: var(--vermelho-frevo);
  color: var(--branco-fundo);
  @apply p-2 rounded-md font-semibold;
}

.card {
  background: #e3e3e3;
  background: linear-gradient(90deg,rgba(227, 227, 227, 1) 0%, rgba(245, 245, 245, 1) 92%);
 @apply p-3 w-80 rounded-xl text-gray-800 text-center shadow-sm mt-4; 
}

.main-container{
  @apply min-h-screen bg-slate-50 px-4 py-8 sm:px-6 lg:px-8
}